.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

[scroll-picture] {
  background-image: url(../images/header-picture.png);
  position: relative;
  width:100%;
  height:0;
  padding-bottom: 30%;
  overflow:hidden;
  background-size:100%; /* You can override this value if your picture has a weird ratio */
  background-position:50% 60%;
  z-index: 1;
}

[scroll] {
  position:fixed;
  top:0;
}

.md-sidenav-backdrop, .md-sidenav-left{
  position: fixed;
}

.toolbar-tools {
  padding: 0px;
}

.toolbar-logo {
  height: 48px;
  width: 48px;
  margin-left: 16px;
  margin-right: 16px;
}

.toolbar-header {
  margin-left: 14px;
  margin-right: 14px;
}

.sidenav-logo {
  width: 120px;
  height: 120px;
}

.sidenav-toolbar {
  height: 240px;
}

.toolbar-item {
  opacity: .77;
}

.button-menu {
  box-sizing: border-box;
  position: fixed;
  white-space: nowrap;
  margin: 15px;
  z-index: 99;
  right: 0;
  bottom: 0;
}

.ghost {
  opacity: 0.2;
}

.sortable-list-icon {
  width: 24px;
  height: 24px;
}

.text-align-center{
  text-align: center
}

.about-logo {
  height: 125px;
}

.range-button .md-button {
  min-width: 2em;
  font-weight: 400;
  margin-left: 0;
  margin-right: 0;
  text-transform: none;
}

.range-button .md-icon-button {
  height: 24px;
  width: 24px;
  margin-left: 0;
  margin-right: 0;
}

/* animations */
.an-logo-size-add, .an-logo-size-remove, .an-title-size-add, .an-title-size-remove {
  -webkit-transition:all 0.1s ease;
  -moz-transition:all 0.1s ease;
  -o-transition:all 0.1s ease;
  transition:all 0.1s ease;
}

.an-logo-size,
.an-logo-size-add.an-logo-size-add-active {
  top: 20px;
  height: 82px;
  width: 82px;
  margin-top: 64px;
}

/*.an-logo-size-remove.an-logo-size-remove-active {
  height: 48px;
  width: 48px;
}*/

.an-title-size,
.an-title-size-add.an-title-size-add-active {
  margin-top: 84px;
  margin-left: 20px;
  font-size: 20px;
}

/*.an-title-size-remove.an-title-size-remove-active {
  font-size: 16px;
}*/
/* end animations */
