<div layout="column">
  <div layout="row">
    <md-card flex="40">
      <md-card-content>
      </p>Sensors</p>
    </md-card-content>
  </md-card>
  <md-card flex="60">
    <md-card-content>
    </p>Live-Stream</p>
  </md-card-content>
</md-card>
</div>
<div layout="row">
  <md-card flex="60">
    <md-card-content ng-controller="PhotogalleryCtrl as photogallery">
    </p>Photo-Gallery</p>
    <div ng-repeat="shot in photogallery.photogallery">
      <br flex="5">
      <div layout="row">
        <md-icon flex>camera</md-icon>
        <i style="padding-top:3%">{{shot.date | date:'dd/MM/yyyy @hh:mm'}}</i>
        <a flex/>
        <ng-gallery flex="55" images="shot.images"></ng-gallery>
      </div>
      <br ng-hide="$last"/>
      <md-divider ng-hide="$last"></md-divider>
    </div>
  </md-card-content>
</md-card>
</div>
</div>
