<md-card>
  <md-card-content>
    <div layout="column" ng-repeat="shot in photogallery.photogallery">
      <br flex="5">
      <div layout="row">
        <md-icon flex>camera</md-icon>
        <i flex="15" style="padding-top:2%">{{shot.date | date:'dd/MM/yyyy @hh:mm'}}</i>
        <ng-gallery flex="60" images="shot.images"></ng-gallery>
        <md-button>
          <md-tooltip>Download Photos</md-tooltip>
          <md-icon>file_download</md-icon>
        </md-button>
      </div>
      <br flex="5">
      <md-divider></md-divider>
    </div>
  </md-card-content>
</md-card>
